@using DevExtreme.AspNet.Mvc
@using MEYPAK.Entity.PocoModels.CEKSENET
<main role="main" class="container" style="margin-left:250px; margin-top:55px;">
    <div class="menu-container dx-swatch-additional" style="width:fit-content">

        <h4>Müşteri Senet Hareket Listesi</h4>

        <div id="data-grid-demo">
            @(
                Html.DevExtreme().DataGrid<PocoMUSTERISENETHAR>()
                .ID("gridContainer")
                .FilterPanel(f => f.Visible(false))
                .HeaderFilter(h => h.Visible(true)).ColumnAutoWidth(true).Pager(x =>
                {
                    x.ShowPageSizeSelector(true);
                    x.ShowPageSizeSelector(true);
                })
                .Paging(p => p.Enabled(true))
                .Scrolling(scrolling =>
                {
                    scrolling.ColumnRenderingMode(GridColumnRenderingMode.Standard);
                    scrolling.ShowScrollbar(ShowScrollbarMode.Always);
                    scrolling.Mode(GridScrollingMode.Standard);
                    scrolling.ScrollByContent(true);
                })


                .Columns(columns =>
                {
                    columns.AddFor(m => m.olusturmatarihi).Caption("KAYIT TARİHİ").Width(100);

                })
                .DataSource(d => d.Mvc()
                .Controller("CEKSENET")
                .LoadAction("MusteriSenetHarGet").Key("id")

                )
                )
        </div>

        <script>
            function changeTheme(e) {
                var selectedTheme = e.component.option("value");
                document.cookie = "currentTheme=" + selectedTheme + ";path=/";
                window.location.reload();
            }
        </script>

    </div>
</main>