<li class="menu-item-has-children dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Araç</a>
    <ul class="sub-menu children dropdown-menu">
        <li><i class="fa fa-puzzle-piece"></i><a href="#">Araç Tanım</a></li>
        <li><i class="fa fa-id-badge"></i><a href="#">Araç Hariket</a></li>
        <li><i class="fa fa-bars"></i><a href="#">Araç Rapor</a></li>
    </ul>
</li>