-
        <li><i class="fa fa-puzzle-piece"></i><a href="#">Araç Tanım</a></li>
        <li><i class="fa fa-id-badge"></i><a href="#">Araç Hariket</a></li>
        <li><i class="fa fa-bars"></i><a href="#">Araç Rapor</a></li>
-