<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div class="copyright">
                    <p>&copy; 2022 <a style="color:white" href="http://www.mey-pak.com" target="_blank">Gündüz Meypak</a>. Tüm hakları saklıdır. </p>
                </div>
            </div>
            <div class="col-md-3"> </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->
