   <!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2022 <a href="https://elizmeypak.com">Eliz Meypak</a>.</strong>
    Tüm Hakları Saklıdır.
</footer>
            </div>
<!-- ./wrapper -->