<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#"><span>STOK</span></a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">TANIM</a>
            <partial name="Partials/UnderPartials/STOK/_StokTanımPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">HAREKET</a>
            <partial name="Partials/UnderPartials/STOK/_StokHareketPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">RAPOR</a>
            <partial name="Partials/UnderPartials/STOK/_StokRaporPartial" />
        
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#"><span>       DEPO</span></a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">TANIM</a>
            <partial name="Partials/UnderPartials/DEPO/_DepoTanımPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">HAREKET</a>
            <partial name="Partials/UnderPartials/DEPO/_DepoHareketPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">RAPOR</a>
            <partial name="Partials/UnderPartials/DEPO/_DepoRaporPartial" />
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#"><span>      SİPARİŞ</span></a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">TANIM</a>
            <partial name="Partials/UnderPartials/SIPARIS/_SiparisTanımPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">HAREKET</a>
            <partial name="Partials/UnderPartials/SIPARIS/_SiparisHareketPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">RAPOR</a>
            <partial name="Partials/UnderPartials/SIPARIS/_SiparisRaporPartial" />
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#"><span>      PERSONEL</span></a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">TANIM</a>
            <partial name="Partials/UnderPartials/PERSONEL/_PersonelTanımPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">HAREKET</a>
            <partial name="Partials/UnderPartials/PERSONEL/_PersonelHareketPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">RAPOR</a>
            <partial name="Partials/UnderPartials/PERSONEL/_PersonelRaporPartial" />
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#"><span>      FATURA</span></a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">TANIM</a>
            <partial name="Partials/UnderPartials/FATURA/_FaturaTanımPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">HAREKET</a>
            <partial name="Partials/UnderPartials/FATURA/_FaturaHareketPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">RAPOR</a>
            <partial name="Partials/UnderPartials/FATURA/_FaturaRaporPartial" />
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#"><span>      CARI</span></a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">TANIM</a>
            <partial name="Partials/UnderPartials/CARI/_CariTanimPartial" />
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">HAREKET</a>
          @*  <partial name="Partials/UnderPartials/FATURA/_FaturaHareketPartial" />*@
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">RAPOR</a>
          @*  <partial name="Partials/UnderPartials/FATURA/_FaturaRaporPartial" />*@
    </li>
    <!-- <li class="nav-item d-none d-sm-inline-block">
       <a href="#" class="nav-link">Stok</a>
     </li>
     <li class="nav-item d-none d-sm-inline-block">
       <a href="#" class="nav-link">Depo</a>
     </li>
     <li class="nav-item d-none d-sm-inline-block">
       <a href="#" class="nav-link">Sipariş</a>
     </li>
     <li class="nav-item d-none d-sm-inline-block">
       <a href="#" class="nav-link">Personel</a>
     </li>
     <li class="nav-item d-none d-sm-inline-block">
       <a href="#" class="nav-link">Fatura</a>
     </li>-->



</ul>