<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!--MAİN-->
        <li class="nav-item">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Genel Bakış</p>
            </a>
        </li>
        <!--STOK-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-cube nav-icon" aria-hidden="true"></i>
                <p>STOK</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/STOK/_StokPartial" />
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/STOK/_StokFiyatPartial" />
                </li>
            </ul>
        </li>
        <!--DEPO-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-warehouse nav-icon" aria-hidden="true"></i>
                <p>DEPO</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/DEPO/_DepoPartial" />
                </li>
            </ul>
        </li>
        <!--CARI-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-user-tie nav-icon" aria-hidden="true"></i>
                <p>CARİ</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/CARI/_CariPartial" />
                </li>
            </ul>
        </li>
        <!--FATURA-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="far fa-file-alt nav-icon" aria-hidden="true"></i>
                <p>FATURA</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/FATURA/_FaturaPartial" />
                </li>
            </ul>
        </li>
        <!--ÇEK/SENET-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-money-check-alt nav-icon" aria-hidden="true"></i>
                <p>ÇEK/SENET</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/CEKSENET/CEK/_CekPartial" />
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/CEKSENET/SENET/_SenetPartial" />
                </li>
            </ul>
        </li>
        <!--KASA-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-dolly nav-icon" aria-hidden="true"></i>
                <p>KASA</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/KASA/_KasaPartial" />
                </li>
            </ul>
        </li>
        <!--BANKA-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-landmark nav-icon" aria-hidden="true"></i>
                <p>BANKA</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/BANKA/_BankaPartial" />
                </li>
            </ul>
        </li>
        <!--PERSONEL-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-user-friends nav-icon" aria-hidden="true"></i>
                <p>PERSONEL</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/PERSONEL/_PersonelPartial" />
                </li>
            </ul>
        </li>
        <!--ARAÇ-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-truck nav-icon" aria-hidden="true"></i>
                <p>ARAÇ</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <partial name="Partials/UnderPartials/ARAC/_AracPartial" />
                </li>
            </ul>
        </li>
    </ul>
</nav>
</div>
  </aside>
