@*@using DevExtreme.AspNet.Mvc
@using MEYPAK.Entity.PocoModels.STOK
<div class="menu-container dx-swatch-additional">

  @* 
    <div id="data-grid-demo">

        @(
            Html.DevExtreme().DataGrid<PocoSTOKFIYATLIST>()
            .ID("gridContainer")
            .ShowBorders(true)

            .Paging(p => p.Enabled(true))
            .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowUpdating(true)
            .AllowAdding(true)
            .EditColumnName("Düzenle")
            .AllowDeleting(true)
            .Popup(p => p
            .Title("Stok Fiyat Liste Kart")
            .ShowTitle(true)
            .Width(700)
            .Height(525)
            )
            .Form(f => f.Items(items =>
            {

                items.AddGroup()
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {


                    groupItems.AddSimpleFor(m => m.fiyatlistadi);
                    groupItems.AddSimpleFor(m => m.bastar);
                    groupItems.AddSimpleFor(m => m.bittar);

                });




            }))
            )
            .Columns(columns =>
            {

                columns.AddFor(m => m.fiyatlistadi)
                .Width(120);

                columns.AddFor(m => m.bastar);

                columns.AddFor(m => m.bittar);

                columns.Add()
                .Type(GridCommandColumnType.Buttons)
                .Buttons(b =>
                {
                    b.Add().Name(GridColumnButtonName.Edit).Text("Düzenle");
                    b.Add().Name(GridColumnButtonName.Delete).Text("Sil");
                });

            })
            .OnRowInserted("Efe").DataSource(d =>
            d.Mvc()
            .Controller("STOK")
            .LoadAction("StokFiyatListGet").InsertAction("StokFiyatListPost").UpdateAction("StokFiyatListPut").DeleteAction("StokFiyatListDelete").Key("id")


            )
            )



    </div>*@

    @(Html.DevExtreme().SelectBox()
        .ID("apptheme")
        .ValueExpr("theme")
        .DisplayExpr("name")
        .DataSource(new object[] {
    new { name = "Gündüz", theme = "dx.light.css"},
    new { name = "Gece", theme = "dx.dark.css"},

        })
        .OnSelectionChanged("changeTheme")
        )


    <script>
        function Efe() {
            window.location.replace("http://localhost:5232/Stok/StokFiyatListHarKart");
        }
    </script>



    <script>
        function changeTheme(e) {
            var selectedTheme = e.component.option("value");
            document.cookie = "currentTheme=" + selectedTheme + ";path=/";
            window.location.reload();
        }
    </script>

    <script>
        $(function () {
            $("#gridContainer").dxDataGrid({
                // ...
                onRowInserting: function (e) {
                    const deferred = $.Deferred();
                    const promptPromise = DevExpress.ui.dialog.confirm("Are you sure?", "Confirm changes");
                    promptPromise.done((dialogResult) => {
                        if (dialogResult) {
                            $.ajax({
                                url: "https://url/to/your/validation/service",
                                dataType: "json",
                                data: e.newData,
                                success: function (validationResult) {
                                    if (validationResult.errorText) {
                                        deferred.reject(validationResult.errorText);
                                    } else {
                                        deferred.resolve(false);
                                    }
                                },
                                error: function () {
                                    deferred.reject("Data Loading Error");
                                },
                                timeout: 5000
                            });
                        } else {
                            deferred.resolve(true);
                        }
                    });
                    e.cancel = deferred.promise();
                }
            })
        })
    </script>
</div>