@using DevExtreme.AspNet.Mvc
@using MEYPAK.Entity.PocoModels.STOK
<main role="main" class="container" style="margin-left:250px;">
    <div class="menu-container dx-swatch-additional" style="width:fit-content">

        <h2>Stok Fiyat Hareket</h2>

        <div id="data-grid-demo" style="padding-top:20px; max-width:max-content">
            @(
                Html.DevExtreme().DataGrid<PocoSTOKFIYATHAR>()
                    .ID("gridContainer")
                    .FilterPanel(f => f.Visible(false))
                    .HeaderFilter(h => h.Visible(true)).ColumnAutoWidth(true).Pager(x =>
                    {
                        x.ShowPageSizeSelector(true);
                        x.ShowPageSizeSelector(true);
                    })
                    .Paging(p => p.Enabled(true))
                    .Scrolling(scrolling =>
                    {
                        scrolling.ColumnRenderingMode(GridColumnRenderingMode.Standard);
                        scrolling.ShowScrollbar(ShowScrollbarMode.Always);
                        scrolling.Mode(GridScrollingMode.Standard);
                        scrolling.ScrollByContent(true);
                    })


                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.olusturmatarihi).Caption("KAYIT TARİHİ").Width(150);


                    columns.AddFor(m => m.stokfiyatid)
                    .Width(160)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("STOK").LoadAction("StokFiyatGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("adi")))
                    .ValueExpr("id")
                    .DisplayExpr("adi")).Caption("STOK FİYAT");

                    columns.AddFor(m => m.stokid)
                    .Width(160)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("STOK").LoadAction("StokGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("kod")))
                    .ValueExpr("id")
                    .DisplayExpr("kod")).Caption("STOK KODU");

                    columns.AddFor(m => m.stokid)
                    .Width(160)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("STOK").LoadAction("StokGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("adi")))
                    .ValueExpr("id")
                    .DisplayExpr("adi")).Caption("STOK ADI");


                    columns.AddFor(m => m.parabirimid)
                    .Width(160)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("PARAMETRE").LoadAction("ParaBirimGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("adi")))
                    .ValueExpr("id")
                    .DisplayExpr("adi")).Caption("PARABİRİMİ");

                    columns.AddFor(m => m.kur).Caption("KUR").Width(120);
                    columns.AddFor(m => m.fiyat).Caption("FİYAT").Width(120);

                  
                    columns.AddFor(m => m.guncellemetarihi).Caption("GÜNCELLEME TARİHİ").Width(120);

                })
                .DataSource(d => d.Mvc()
                .Controller("STOK")
                .LoadAction("StokFiyatHarGet").Key("id")

                )
                )
        </div>

        <script>
            function changeTheme(e) {
                var selectedTheme = e.component.option("value");
                document.cookie = "currentTheme=" + selectedTheme + ";path=/";
                window.location.reload();
            }
        </script>

    </div>
</main>