@using MEYPAK.Entity.PocoModels.STOK
@model List<PocoSTOKFIYATLIST>





<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Stok Listesi</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    @{
                                        PocoSTOKFIYATLIST aa = new PocoSTOKFIYATLIST();

                                        foreach (var item2 in aa.GetType().GetProperties())
                                        {
                                            <th>@item2.Name + " " + @item2.PropertyType.Name</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (PocoSTOKFIYATLIST item in Model)
                                {
                                    <tr>
                                        @foreach (var item2 in item.GetType().GetProperties())
                                        {

                                            <td>@item.GetType().GetProperty(item2.Name).GetValue(item, null);</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







