@using DevExtreme.AspNet.Mvc
@using MEYPAK.Entity.PocoModels.STOK
<div class="menu-container dx-swatch-additional">



    <div id="data-grid-demo">
        @(
            Html.DevExtreme().DataGrid<PocoSTOKSAYIM>()
            .ID("gridContainer")
            .ShowBorders(true)

            .Paging(p => p.Enabled(true))
            .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowUpdating(true)
            .AllowAdding(true)
            .AllowDeleting(true)
            .Popup(p => p
            .Title("Stok Sayım Kart")
            .ShowTitle(true)
            .Width(700)
            .Height(525)
            )
            .Form(f => f.Items(items =>
            {
                items.AddGroup()
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {


                    groupItems.AddSimpleFor(m => m.aciklama);
                    groupItems.AddSimpleFor(m => m.durum);
                    groupItems.AddSimpleFor(m => m.sayimtarihi);
                    groupItems.AddSimpleFor(m => m.depoid);
                 
               
                });


            }))
            )
            .Columns(columns =>
            {

                columns.AddFor(m => m.aciklama)
                .Width(120);

                columns.AddFor(m => m.durum);

                columns.AddFor(m => m.sayimtarihi);

                columns.AddFor(m => m.depoid);

            


                columns.Add()
                .Type(GridCommandColumnType.Buttons)
                .Buttons(b =>
                {
                    b.Add().Name(GridColumnButtonName.Edit).Text("Düzenle");
                    b.Add().Name(GridColumnButtonName.Delete).Text("Sil");
                });
            })
            .OnRowInserted("Efe")
            .DataSource(d => d.Mvc()
            .Controller("STOK")
            .LoadAction("StokSayimGet").InsertAction("StokSayimPost").UpdateAction("StokSayimPut").DeleteAction("StokSayimDelete").Key("id")

            )
            )



    </div>

    <script>
        function Efe() {
            window.location.replace("http://localhost:5232/Stok/StokSayimHarKart");
        }
    </script>
    @(Html.DevExtreme().SelectBox()
        .ID("apptheme")
        .ValueExpr("theme")
        .DisplayExpr("name")
        .DataSource(new object[] {
    new { name = "Gündüz", theme = "dx.light.css"},
    new { name = "Gece", theme = "dx.dark.css"},

        })
        .OnSelectionChanged("changeTheme")
        )
    <script>
        function changeTheme(e) {
            var selectedTheme = e.component.option("value");
            document.cookie = "currentTheme=" + selectedTheme + ";path=/";
            window.location.reload();
        }
    </script>
</div>