@*@using DevExtreme.AspNet.Mvc
@using MEYPAK.Entity.PocoModels.SIPARIS
<div class="menu-container dx-swatch-additional">



    <div id="data-grid-demo">
        @(
            Html.DevExtreme().DataGrid<PocoSIPARISSEVKEMIRHAR>()
            .ID("gridContainer")
            .ShowBorders(true)

            .Paging(p => p.Enabled(true))
            .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowUpdating(true)
            .AllowAdding(true)
            .AllowDeleting(true)
            .Popup(p => p
            .Title("Depo Kart")
            .ShowTitle(true)
            .Width(700)
            .Height(525)
            )
            .Form(f => f.Items(items =>
            {
                items.AddGroup()
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {


                    groupItems.AddSimpleFor(m => m.siparisid);
                    groupItems.AddSimpleFor(m => m.sipariskalemid);
                    groupItems.AddSimpleFor(m => m.emriid);
                    groupItems.AddSimpleFor(m => m.kullaniciid);
                    groupItems.AddSimpleFor(m => m.depomiktar);
                    groupItems.AddSimpleFor(m => m.bekleyenmiktar);
                    groupItems.AddSimpleFor(m => m.siparismiktari);
          

                });


            }))
            )
            .Columns(columns =>
            {

                columns.AddFor(m => m.siparisid)
                .Width(150)
                .Visible(true)
                .Lookup(lookup => lookup
                .DataSource(ds => ds.Mvc().Controller("SIPARIS").LoadAction("SiparisGet").Key("id"))
                .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("belgeno")))
                .ValueExpr("id")
                .DisplayExpr("belgeno"));
                columns.AddFor(m => m.sipariskalemid)
                .Width(150)
                .Visible(true)
                .Lookup(lookup => lookup
                .DataSource(ds => ds.Mvc().Controller("SIPARIS").LoadAction("SiparisDetayGet").Key("id"))
                .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("belgeno")))
                .ValueExpr("id")
                .DisplayExpr("belgeno"));
                columns.AddFor(m => m.althesapid);
                columns.AddFor(m => m.sirketid);
                columns.AddFor(m => m.subeid);
                columns.AddFor(m => m.dovizid);
                columns.AddFor(m => m.kur);
                columns.AddFor(m => m.belgeno);
                columns.AddFor(m => m.serino);
                columns.AddFor(m => m.vadetarihi);
                columns.AddFor(m => m.vadegunu);
                columns.AddFor(m => m.aciklama);



                columns.Add()
                .Type(GridCommandColumnType.Buttons)
                .Buttons(b =>
                {
                    b.Add().Name(GridColumnButtonName.Edit).Text("Düzenle");
                    b.Add().Name(GridColumnButtonName.Delete).Text("Sil");
                });
            })
            .DataSource(d => d.Mvc()
            .Controller("SIPARIS")
            .LoadAction("SiparisGet").InsertAction("SiparisPost").UpdateAction("SiparisPut").DeleteAction("SiparisDelete").Key("id")

            )
            )



    </div>


    @(Html.DevExtreme().SelectBox()
        .ID("apptheme")
        .ValueExpr("theme")
        .DisplayExpr("name")
        .DataSource(new object[] {
    new { name = "Gündüz", theme = "dx.light.css"},
    new { name = "Gece", theme = "dx.dark.css"},

        })
        .OnSelectionChanged("changeTheme")
        )
    <script>
        function changeTheme(e) {
            var selectedTheme = e.component.option("value");
            document.cookie = "currentTheme=" + selectedTheme + ";path=/";
            window.location.reload();
        }
    </script>
</div>*@