@using DevExtreme.AspNet.Mvc
@using MEYPAK.Entity.PocoModels.SIPARIS
<main role="main" class="container" style="margin-left:250px;">
    <div class="menu-container dx-swatch-additional" style="width:fit-content">

        <h2>Sipariş Detay Listesi</h2>

        <div id="data-grid-demo" style="padding-top:20px; max-width:max-content">
            @(
                Html.DevExtreme().DataGrid<PocoSIPARISDETAY>()
                .ID("gridContainer")
                .FilterPanel(f => f.Visible(false))
                .HeaderFilter(h => h.Visible(true)).ColumnAutoWidth(true).Pager(x =>
                {
                    x.ShowPageSizeSelector(true);
                    x.ShowPageSizeSelector(true);
                })
                .Paging(p => p.Enabled(true))
                .Scrolling(scrolling =>
                {
                    scrolling.ColumnRenderingMode(GridColumnRenderingMode.Standard);
                    scrolling.ShowScrollbar(ShowScrollbarMode.Always);
                    scrolling.Mode(GridScrollingMode.Standard);
                    scrolling.ScrollByContent(true);
                })


                .Columns(columns =>
                {
                    columns.AddFor(m => m.olusturmatarihi).Caption("KAYIT TARİHİ").Width(100);
                   
                    columns.AddFor(m => m.siparisid)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("SIPARIS").LoadAction("SiparisGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("belgeno")))
                    .ValueExpr("id")
                    .DisplayExpr("belgeno")).Caption("SİPARİŞ");

                    columns.AddFor(m => m.irsaliyeid)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("IRSALIYE").LoadAction("IrsaliyeGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("belgeno")))
                    .ValueExpr("id")
                    .DisplayExpr("belgeno")).Caption("İRSALİYE");

                    
                    columns.AddFor(m => m.stokid)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("STOK").LoadAction("StokGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("kod")))
                    .ValueExpr("id")
                    .DisplayExpr("kod")).Caption("STOK KODU");

                    columns.AddFor(m => m.stokadi).Caption("STOK ADI").Width(120);
                    columns.AddFor(m => m.tip).Caption("TİP").Width(120);
                    columns.AddFor(m => m.dara).Caption("DARA").Width(120);
                    columns.AddFor(m => m.darali).Caption("DARALI").Width(120);
                    columns.AddFor(m => m.safi).Caption("SAFİ").Width(120);
                    columns.AddFor(m => m.kasamiktar).Caption("KASA MİKTAR").Width(120);
                    columns.AddFor(m => m.birimfiyat).Caption("BİRİM FİYAT").Width(100);
                    columns.AddFor(m => m.isktoplam).Caption("İSKONTO TOPLAM").Width(120);
                    columns.AddFor(m => m.netfiyat).Caption("NET FİYAT").Width(120);
                    columns.AddFor(m => m.brutfiyat).Caption("BRÜT FİYAT").Width(120);
                    columns.AddFor(m => m.nettoplam).Caption("NET TOPLAM").Width(120);
                    columns.AddFor(m => m.bruttoplam).Caption("BRÜT TOPLAM").Width(120);
                    columns.AddFor(m => m.hareketdurumu)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("SIPARIS").LoadAction("SiparisGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("aciklama")))
                    .ValueExpr("id")
                    .DisplayExpr("aciklama")).Caption("HAREKET DURUMU");

                    columns.AddFor(m => m.kdv).Caption("KDV").Width(120);
                    columns.AddFor(m => m.kdvtutari).Caption("KDV TUTARI").Width(120);
                    columns.AddFor(m => m.guncellemetarihi).Caption("GÜNCELLEME TARİHİ").Width(120);

                })
                .DataSource(d => d.Mvc()
                .Controller("SIPARIS")
                .LoadAction("SiparisDetayGet").Key("id")

                )
                )
        </div>

        <script>
            function changeTheme(e) {
                var selectedTheme = e.component.option("value");
                document.cookie = "currentTheme=" + selectedTheme + ";path=/";
                window.location.reload();
            }
        </script>

    </div>
</main>