@using DevExtreme.AspNet.Mvc
@using MEYPAK.Entity.PocoModels.SIPARIS
<main role="main" class="container">
    <div class="menu-container dx-swatch-additional" style="width:fit-content">

        <h2>Sipariş Raporu</h2>


        <div id="data-grid-demo" style="padding-top:20px; width:fit-content">
            @(
                Html.DevExtreme().DataGrid<PocoSIPARIS>()
                .ID("gridContainer")
                .FilterPanel(f => f.Visible(false))
                .HeaderFilter(h => h.Visible(true))
                .Paging(p => p.Enabled(true))
                .Scrolling(scrolling => scrolling.ColumnRenderingMode(GridColumnRenderingMode.Virtual))

                .Columns(columns =>
                {
                    columns.AddFor(m => m.olusturmatarihi).Caption("KAYIT TARİHİ").Width(100);
                    columns.AddFor(m => m.siparistarihi).Caption("SİPARİŞ TARİHİ").Width(100);
                    columns.AddFor(m => m.sevkiyattarihi).Caption("SEVKİYAT TARİHİ").Width(100);
                    columns.AddFor(m => m.id)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("SIPARIS").LoadAction("SiparisGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("belgeno")))
                    .ValueExpr("id")
                    .DisplayExpr("belgeno")).Caption("SİPARİŞ");

                    columns.AddFor(m => m.cariid)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("CARI").LoadAction("CariGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("kod")))
                    .ValueExpr("id")
                    .DisplayExpr("kod")).Caption("CARİ KODU");

                    columns.AddFor(m => m.cariadi).Caption("CARİ ADI ").Width(120);

                    columns.AddFor(m => m.althesapid)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("CARI").LoadAction("AltHesapGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("adi")))
                    .ValueExpr("id")
                    .DisplayExpr("adi")).Caption("ALT HESAP");

                    columns.AddFor(m => m.depoid)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("DEPO").LoadAction("DepoGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("aciklama")))
                    .ValueExpr("id")
                    .DisplayExpr("aciklama")).Caption("DEPO");

                    columns.AddFor(m => m.vadetarihi).Caption("VADE TARİHİ").Width(120);
                    columns.AddFor(m => m.vadegunu).Caption("VADE GÜNÜ").Width(120);
                    columns.AddFor(m => m.kdvdahil).Caption("KDV DAHİL").Width(100);

                    columns.AddFor(m => m.dovizid)
                    .Width(150)
                    .Visible(true)
                    .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("DEPO").LoadAction("DepoGet").Key("id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("aciklama")))
                    .ValueExpr("id")
                    .DisplayExpr("aciklama")).Caption("DEPO");

                    columns.AddFor(m => m.nettoplam).Caption("NET TOPLAM").Width(120);
                    columns.AddFor(m => m.kdvtoplam).Caption("KDV TOPLAM").Width(120);
                    columns.AddFor(m => m.istkontotoplam).Caption("İSKONTO TOPLAM").Width(120);
                    columns.AddFor(m => m.bruttoplam).Caption("BRÜT TOPLAM").Width(120);
                    columns.AddFor(m => m.geneltoplam).Caption("GENEL TOPLAM").Width(120);
                    columns.AddFor(m => m.altiskonto1).Caption("ALT İSKONTO").Width(120);
                    columns.AddFor(m => m.donem).Caption("DÖNEM").Width(120);

                    columns.AddFor(m => m.guncellemetarihi).Caption("GÜNCELLEME TARİHİ").Width(120);

                })
                .DataSource(d => d.Mvc()
                .Controller("SIPARIS")
                .LoadAction("SiparisGet").Key("id")

                )
                )
        </div>

        <script>
            function changeTheme(e) {
                var selectedTheme = e.component.option("value");
                document.cookie = "currentTheme=" + selectedTheme + ";path=/";
                window.location.reload();
            }
        </script>

    </div>
</main>