<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_MEYPAKTEST_Connection" connectionString="XpoProvider=MSSqlServer;data source=78.135.80.41\SQLEXPRESS;user id=;password=;initial catalog=MEYPAKTEST;Persist Security Info=true" />
        <add name="meypaktestcon" connectionString="XpoProvider=MSSqlServer;data source=78.135.80.41\SQLEXPRESS;user id=sa;password=sapass_1;initial catalog=MEYPAKTEST;Persist Security Info=true" />
    </connectionStrings>
</configuration>