
<ul class="nav nav-treeview">
    <li class="nav-item">
        <a href="/Stok/StokHarKart" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Stok Hareket</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Hizmet Hareket</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Sevkiyat</p>
        </a>
    </li> 
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Stok Sayım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Sayım İşleme</p>
        </a>
    </li>
    
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Stok Kasa Hareket</p>
        </a>
    </li>
</ul>
