
<ul class="nav nav-treeview">
    <li class="nav-item">
        <a href="/Stok/StokKart" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Stok Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Stok/HizmetKart" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Hizmet Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Stok/OlcuBrKart" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Ölçü Birim Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Stok/StokMarkaKart" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Marka Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Depo Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Sayım Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Stok Kasa Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Stok Kasa Marka Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Stok Fiyat Tanım</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon" aria-hidden="true" style="font-size: 12px;"></i>
            <p>Stok Listesi</p>
        </a>
    </li>
</ul>
