
@{
    Layout = null;
}
 @RenderBody()

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Eliz Meypak Bilişim & Teknoloji</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Gp/assets/img/elizfavicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Gp/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Gp/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Gp/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Gp/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Gp/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Gp/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Gp/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Gp/assets/css/style1.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Gp - v4.9.1
    * Template URL: https://bootstrapmade.com/Gp-free-multipurpose-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between">
            <a href="#" class="navbar-brand ml-lg-12">
                <img class="img-fluid" src="~/Gp/assets/img/logo.png" alt="" width="200" height="100">
            </a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">ANASAYFA</a></li>
                    <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>


                    <li class="dropdown">
                        <a href="#services"><span>Hizmetlerimiz</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#services">Üretim Çözümleri</a></li>
                            <li><a href="#services">Depo Yönetimi</a></li>
                            <li><a href="#services">Kasa Takip</a></li>
                            <li><a href="#services">Muhasebe Çözümleri</a></li>
                            <li><a href="#services">Proje Takip</a></li>
                            <li><a href="#services">E-Dönüşüm</a></li>
                            <li><a href="#services">Loglama</a></li>
                            <li><a href="#services">Raporlama</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#portfolio">Çözümlerimiz</a></li>
                    <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href="Default/Login" class="get-started-btn scrollto">Giriş Yap</a>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>HAL 'den Anlarız<span>.</span></h1>
                    <h2>Tüm Hareketlerinizi Tek Ekranda, Kolayca ve Hızlı Şekilde Yönetin!</h2>
                </div>
            </div>

            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-git-merge-fill"></i>
                        <h3><a href="#">Kapsamlı ve Entegre</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-bar-chart-box-line"></i>
                        <h3><a href="#">İnovatif Çözümler</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-earth-fill"></i>
                        <h3><a href="#">Her Yerden Erişim</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-find-replace-line"></i>
                        <h3><a href="#">Değişime ve Büyümeye Açık</a></h3>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="~/Gp/assets/img/about1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100" style="margin-top:50px">
                        <h5 style="font-style: italic;"></h5>
                        <h3>BİZ KİMİZ?</h3>
                        <p class="fst-italic">
                            Eliz Meypak olarak ekibimizle Ankara'da yer alan bir bilişim ve teknoloji firmasıyız. ERP ihtiyaçlarınız için en doğru çözümleri nasıl sunacağımızı çok iyi biliyoruz.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Firmanızın ihtiyaçlarına yönelik en doğru çözümler</li>
                            <li><i class="ri-check-double-line"></i> ERP'de yenilikçi yaklaşım ve kullanım kolaylığı</li>
                            <li><i class="ri-check-double-line"></i> Tüm Masaüstü, Web ve Mobil platformlarda erişim uyumluluğu</li>
                        </ul>
                        <p>
                            Deneyimli kadromuzla iletişime geçerek daha fazla bilgi alın, işletmenizi kolayca yönetin.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-in">

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="~/Gp/assets/img/clients/erp.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Gp/assets/img/clients/crm.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Gp/assets/img/clients/iot.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Gp/assets/img/clients/edonusum.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Gp/assets/img/clients/teknikdestek.png" class="img-fluid" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Clients Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                        <img src="~/Gp/assets/img/calisma.png" class="img-fluid" alt="" style="margin-top: 155px;">
                    </div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <!--<i class="bx bx-receipt"></i> -->
                            <h4>ERP - Kurumsal Kaynak Planlama</h4>
                            <p>Sektörel çözümlerimizin sunduğu faydalardan siz de yararlanın, verimli ve fark yaratan iş süreçlerinin avantajlarını Kurumsal Kaynak Planlama ile yaşayın.  </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">

                            <h4>CRM - Müşteri İlişkileri Yönetimi</h4>
                            <p>Satış veya satış sonrası hizmet verdiğiniz müşterilerinizin tekliflerini, arama kayıtlarını, ziyaretlerini ve notlarını kaydedin. Satış süreçlerinizi verimli yönetin.</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">

                            <h4>IOT - Nesnelerin İnterneti</h4>
                            <p>Şirketiniz için başarılı ve güvenebileceğiniz IOT sistemleri geliştiriyoruz. Gelişmiş IOT yetkinliği ile şirketinizin büyümesine yardımcı olun. </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">

                            <h4>E-Çözümler</h4>
                            <p>Faturalama süreçlerinizde zaman kaybetmekten kurtulun. Eliz Meypak desteği ile e-faturaya geçin. Hemen tasarruf etmeye başlayın.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>
                        ERP ÖNE ÇIKAN ÖZELLİKLERİ
                    </h2>
                    <p>HİZMETLERİMİZ</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxs-leaf"></i></div>
                            <h4>Üretim</h4>
                            <p>
                                Tüm üretim süreçlerini takip edebileceğiniz hızlı ve etkin çözümlerimizle yanınızdayız..
                                <ul>
                                    <p style="font-size: 14px;margin-right: 45px;"><i class="bx bx-chevron-right" style="color:#649cc7;"></i> Üretim Planlama</p>
                                    <p style="font-size: 14px;margin-right: 45px;"><i class="bx bx-chevron-right" style="color:#649cc7;"></i> Üretim,Atık,Fire Takibi</p>
                                    <p style="font-size: 14px;margin-right: 45px;"><i class="bx bx-chevron-right" style="color:#649cc7;"></i> Üretim Analizleri</p>
                                </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                         data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxs-store-alt"></i></div>
                            <h4>Depo Yönetimi</h4>
                            <p>Depo takibi ile mal kabul, stok takibi, sevkiyat gibi tüm işlemlerde kolay çözümler..</p>
                            <ul>
                                <p style="font-size: 14px;margin-right: 45px;"><i class="bx bx-chevron-right" style="color:#649cc7;"></i> Mal Kabul</p>
                                <p style="font-size: 14px;margin-right: 45px;"><i class="bx bx-chevron-right" style="color:#649cc7;"></i> Stok Takibi</p>
                                <p style="font-size: 14px;margin-right: 45px;"><i class="bx bx-chevron-right" style="color:#649cc7;"></i> Sevkiyat İşlemleri</p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                         data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-basket"></i></div>
                            <h4>Kasa Takip</h4>
                            <p>Kasa işlemlerinizde zorlanmadan kasa takip kolaylıklarımızdan faydalanın.Günlük stok verileri, detaylı kasa raporları ve kasa takip işlemleri yapılır..</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxs-calculator"></i></div>
                            <h4>Muhasebe</h4>
                            <p>Muhasebe çözümlerimiz ışığında ön muhasebe ve genel muhasebe konularında süreçlerinizi kapsamlı olarak takip edin. Genel Muhasebe ve Bordro Yönetimi..</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-git-repo-forked"></i></div>
                            <h4>Proje Takip</h4>
                            <p>Kurumsal projelerinizi kolaylıkla takip edebilir, ekibinizle projeleri anlık olarak izleyebilir ve sürece her noktadan odaklanabilirsiniz.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxs-receipt"></i></div>
                            <h4>Raporlama</h4>
                            <p>Firmanız için kapsamlı ve gelişmiş raporlar hazırlarız ve firmanız için özelleştirilmiş raporlar, size periyodik ayrıntılı veriler sağlar..</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="text-center">
                    <h3>İhtiyaçlarınız İçin Üretiyoruz!</h3>
                    <p> Deneyimli kadromuzla iletişime geçerek daha fazla bilgi alın, işletmenizi kolayca yönetin.</p>
                    <a class="cta-btn" href="#contact">Bize Ulaşın</a>
                </div>

            </div>
        </section><!-- End Cta Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>KURUMSAL ÇÖZÜMLERDE DENEYİM</h2>
                    <p>
                        ÇÖZÜMLERİMİZ
                    </p>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Kurumsal Çözümler</li>
                        </ul>
                    </div>
                </div>
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/Gp/assets/img/portfolio/inovasyon.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>İnovasyon+</h4>
                                <p>Gelişmiş İnovasyon Çözümleri ile şirketinize doğru strateji ve vizyon</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/Gp/assets/img/portfolio/erisim.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Kolay Erişim+</h4>
                                <p>Hızlı ve pratik erişim kolaylığı</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/Gp/assets/img/portfolio/depo.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Depo Çözümleri+</h4>
                                <p>Depo takibi ile mal kabul, stok takibi, sevkiyat gibi tüm işlemlerde kolay çözümler</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/Gp/assets/img/portfolio/donusum.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>E-Dönüşüm+</h4>
                                <p>
                                    Dönüştürüyoruz..
                                    E–Dönüşüm ürünlerimiz sayesinde kurumsal faaliyetlerinizi kolaylıkla dijital ortama taşıyın.E-Arşiv, E-Fatura, E-İrsaliye..
                                </p>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/Gp/assets/img/portfolio/uretim.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Üretim+</h4>
                                <p>Tüm üretim süreçlerini takip edebileceğiniz hızlı ve etkin çözümlerimizle yanınızdayız.Üretim Planlama, Üretim/Atık/Fire Takibi, Üretim Analizleri takibi.. </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/Gp/assets/img/portfolio/kasa.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Kasa Takip+</h4>
                                <p>Sistemimiz sayesinde zorlanmadan kasa takip kolaylıklarımızdan faydalanın. Günlük stok verileri, mobil stok takip, detaylı kasa raporları.. </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/Gp/assets/img/portfolio/muhasebebig.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Muhasebe+</h4>
                                <p>
                                    Muhasebe çözümlerimiz ışığında ön muhasebe ve genel muhasebe konularında süreçlerinizi kapsamlı olarak takip edin.
                                    Maliyet Muhasebesi, Genel Muhasebe ve Bordro Yönetimi..
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/Gp/assets/img/portfolio/report.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Raporlama+</h4>
                                <p>
                                    Firmanız için size özel her şeyi kapsayan gelişmiş ve kapsamlı raporlar hazırlar en doğru ve uygun verileri sunarız.
                                    Finansal Raporlar, Satış/Pazarlama Analiz Raporları, Yönetim Raporları..
                                    ..
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">

            <div class="container" data-aos="fade-up">

                <div class="row no-gutters">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                         data-aos="fade-right" data-aos-delay="100"></div>
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left"
                         data-aos-delay="100">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3>Neden Biz?</h3>
                            <p>
                                Eliz Meypak ile şirketinizi her yerden hızlı ve güvenli olarak yönetin. Eliz Meypak her müşterisinin özel olduğunu benimseyerek bu özellikleri her firmanın stratejisine özel olarak geliştirerek iyi bir müşteri deneyimi sunar.
                            </p>
                            <div class="row">
                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-clock"></i>
                                        <!--   <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2"
                                        class="purecounter"></span> -->
                                        <p><strong>Sürdürülebilirlik</strong> İhtiyaca göre geliştirilebilen açık bir altyapı sunabilen,</p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-journal-richtext"></i>

                                        <p>
                                            <strong>Kolay Kullanım</strong> Çalışanların hızlı ve kolay öğrenebildiği,
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-hand-thumbs-up"></i>

                                        <p><strong>Uyumluluk</strong> Türk ticari iş akışına uygun,</p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-wallet2"></i>

                                        <p><strong>Uygun Fiyatlı</strong> Yüksek yatırım maliyeti olmayan,</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End Counts Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="zoom-in">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Gp/assets/img/testimonials/180677.png" class="testimonial-img" alt="">
                                <h3>Arif Ş.</h3>
                                <h4>Ön Muhasebe Sorumlusu</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Eliz Meypak yazılımı kullanmaktan çok memnunum. Anlaşılabilir, basit ve firmaların ihtiyaçlarını karşılayabilecek şekilde tasarlanmış bir program. Tüm muhasebe işlemlerimi kolaylıkla yapabiliyorum.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Gp/assets/img/testimonials/2922616.png" class="testimonial-img" alt="">
                                <h3>Engin T.</h3>
                                <h4>Forklift Operatörü</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    ERP Yazılımı ile basit ve anlaşılır , kullanıcı dostu ve geliştirmeye açık yapısı ile iş süreçlerimizi etkin bir şekilde yönetip raporlayabildiğimiz Eliz Meypak ile işletmemiz yüklerinden kurtuldu. Teşekkürler ELİZMEYPAK ve ekibi..
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Gp/assets/img/testimonials/2922650.png" class="testimonial-img" alt="">
                                <h3>Gonca Ö.</h3>
                                <h4>Genel Muhasebe Uzmanı</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Uzun zamandır Eliz Meypak ERP yazılımı kullanıyoruz. İstatistikler ERP projelerinin % 65’inin başarısızlıkla sonuçlandığını söyler.
                                    Ancak, doğru yazılım ve doğru firmayla çalışırsanız, 2 ay gibi kısa bir sürede programı kullanmaya başlarsınız.
                                    Eliz Meypak hem basit arayüzü ile kullanım kolaylığı sağlıyor, hem de zengin menüsü ile kendisinden çok daha pahalı yazılımlarla aynı işi görüyor. Tüm muhasebe işlemlerim daha hızlı ve güvenilir ilerliyor.
                                    Teknik Destek elemanlarının bilgi ve tecrübesi sayesinde istediğimiz verilere kolayca ulaşabiliyoruz.
                                    Teşekkürler..
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Gp/assets/img/testimonials/180677.png" class="testimonial-img" alt="">
                                <h3>Cevdet T.</h3>
                                <h4>Finans Uzmanı</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Sağlanan destek gerçekten mükemmel. Sorununuzu çözmeye her zaman hazır bir ekip var.
                                    Yazılımın hem içeriği hemde kullanımı olsun gayet kolay. Çok teşekkür ediyorum…
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Gp/assets/img/testimonials/2922616.png" class="testimonial-img" alt="">
                                <h3>Recep A.</h3>
                                <h4>Satın Alma Sorumlusu</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Merhaba, Ankara da sebze meyve paketlemeciliği üzerine çalışıyorum.
                                    Programdan çok memnun kaldığını söyleyen bir arkadaşımın tavsiyesi ile tanıştım.
                                    Demoyu kullanınca çok pratik, sade ve kullanışlı olduğunu gördüm. Yıllardır sektörü domine eden programı kullanırım ve hep “ya şu olsa, bu olsa” diye iç geçirdiğim ne varsa programda olduğunu gördüm..
                                    Teşekkürler ekibe bu başarısından dolayı :)
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!--  <!-- ======= Team Section ======= -->
        <!--<section id="team" class="team">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>EKİBİMİZİ İNCELEYİN</h2>
                    <p>EKİBİMİZ</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="~/Gp/assets/img/team/efe.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Berkay Efe BAŞLILAR</h4>
                                <span>Yazılım Geliştirici</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="~/Gp/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Şeyda YILDIZ</h4>
                                <span>Yazılım Geliştirici</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="~/Gp/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Kadir Ertan ÇAM</h4>
                                <span>Senior Yazılım Geliştiricisi</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="~/Gp/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mustafa Ceyhun GÜNDÜZ</h4>
                                <span>Kurucu</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="~/Gp/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Buse KIZILTAŞ</h4>
                                <span>Grafik Tasarımcısı</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>FİRMAMIZ</h2>
                    <p>İLETİŞİM</p>
                </div>

                <div>
                    <iframe style="border:0; width: 100%; height: 270px;"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12241.578356511134!2d32.808903!3d39.910185!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6fc94f4a1deecb8a!2sYDA%20Center!5e0!3m2!1str!2str!4v1672144217715!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Adres</h4>
                                <p>
                                    Söğütözü Caddesi, YDA Center No:340, Çankaya/Ankara
                                </p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>EMail</h4>
                                <p>info@elizmeypak.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Telefon</h4>
                                <p>+90 530 4671690</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Adınız" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Mail Adresiniz" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Başlık" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Mesajınız" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Yükleniyor</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Mesajınız firmamıza iletildi! Teşekkürler</div>
                            </div>
                            <div class="text-center"><button type="submit">GÖNDER</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>ELİZ<span>MEYPAK.</span></h3>
                            <p>
                                <strong>Adres: </strong>
                                Söğütözü Caddesi, YDA Center No:340, Çankaya/Ankara<br><br>
                                <strong>Telefon: </strong> +90 530 4671690<br>
                                <strong>Email: </strong> info@elizmeypak.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://www.instagram.com/elizmeypak/" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="https://www.facebook.com/Elizmeypak" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.linkedin.com/company/eliz-meypak-bili%C5%9Fim/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>KURUMSAL</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">ANASAYFA</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hakkımızda</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hizmetlerimiz</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Gizlilik Politikası</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>HİZMETLERİMİZ</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Üretim Çözümleri</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Depo Yönetimi</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Muhasebe</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Kasa Yönetimi</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Loglama</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Raporlama</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">E-Dönüşüm</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>BİZE ULAŞIN</h4>
                        <p>Demo talebinden yararlanmak için hemen arayın!</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="GÖNDER">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>ELİZ</span></strong>MEYPAK Bilişim & Teknoloji.
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Gp-free-multipurpose-html-bootstrap-template/ -->
                Tüm Hakları Saklıdır. <a href="https://bootstrapmade.com/">ELİZMEYPAK</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/Gp/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Gp/assets/vendor/aos/aos.js"></script>
    <script src="~/Gp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Gp/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Gp/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Gp/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Gp/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Gp/assets/js/main.js"></script>

</body>

</html>

