@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">Sayfa Bulunamadı.</h1>
<h2 class="text-danger text-center">Yolunuzu Mu Kaybettiniz?</h2>

@if (Model.ShowRequestId)
{
    <p class="text-center">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


